################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/allure-results
/allure-report
/node_modules
/test-results
